<div class="alert alert-info" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Heads up!</strong> You have not metrics yet, start but taping the button below
</div>

{{#link-to 'metrics' class="btn btn-primary"}}Register new{{/link-to}}
